<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/foyer.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="image image_center">
	<div class="arrows">


		<a data-arrow="left" class="arrow_left" href="#">
		<img src="../static/images/foyer/button_left.png" alt="arrow" height="42" width="42"></a>



		<a data-arrow="right" class="arrow_right" href="#">
		<img src="../static/images/foyer/button_right.png" alt="arrow" height="42" width="42"></a>
	</div>
	<div class="content_center">
		<ul class="content_center_list">
			<li>
				<a href="#skill">
				<img src="../static/images/foyer/trophy.png" alt="icon" height="70"><p>skills</p></a></li>
			<li>
				<a href="#point">
				<img src="../static/images/foyer/points.png" alt="icon" height="70"><p>point</p></a></li>
			<li>
				<a href="#">
					<img src="../static/images/foyer/badge.png" alt="icon" height="70"><p>badge</p></a></li>
			<li>
				<a href="#">
					<img src="../static/images/foyer/friends.png" alt="icon" height="70"><p>friends</p></a></li>
		</ul>
		<div class="enter">
			<a href="street">
				<img src="../static/images/foyer/door.png" alt="icon" height="130"><p>enter</p></a>
		</div>
		<div class="enter">
			<ul class="content_center_list">
				<li>
			<a href="theatre">
				<img src="../static/images/street/Theater.jpg" alt="icon" height="100"><p>Theatre</p></a></li>
				<li>
			<a href="shop">
				<img src="../static/images/street/Shop.ico" alt="icon" height="100"><p>Shop</p></a></li>
			</ul>
	</div>

	<div class="content_right">
		<a id="skill" class="title"></a>
			<img  src="../static/images/foyer/trophy.png" alt="arrow" height="50">skills
		<h1>
			<ul class="content_right_list">
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">Accept Feedback</li>
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">Competitive</li>
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">Confident</li>
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">Courteous</li>
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">Decision Making</li>
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">Follow Rules</li>
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">Honest</li>
				<li>
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/star.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">Inspiring</li>
				<li>
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">
					<img src="../static/images/foyer/starTransparent.png" alt="arrow" height="42">Motivated</li>
			</ul>
	</div>

	<div class="content_left">
		<h1  class="title">
		<img src="../static/images/foyer/points.png" alt="icon" height="50">points
		<p id="point">65/100</p>
		<h1  class="title">
		<img src="../static/images/foyer/friends.png" alt="icon" height="50">friends
		<ul class="content_left_list">
			<li>
		<img src="../static/images/foyer/profile_image.png" alt="icon" height="50">Abbie<p>30/100</p></li>
		<li>
		<img src="../static/images/foyer/profile_image.png" alt="icon" height="50">Brenda<p>55/100</p></li>
		<li>
		<img src="../static/images/foyer/profile_image.png" alt="icon" height="50">Catharine<p>70/100</p></li>

	</div>
	<script src="../static/js/foyer.js"></script>
</body>
</html>
