<!DOCTYPE HTML>

<html>
	<head>
			<title>shop</title>
			  <link rel="stylesheet" href="{{url_for( "static", filename="shop.css" )}}">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="shop-image">
			<div class="shop-box">
				<ul class="icon">
					<li><a class="books"><img src="static/images/shop/books.png" alt="icon" style="width:100px;"><p>books</p></a></li>
					<li><a class="link"><img src="static/images/shop/link.png" alt="icon" style="width:100px;"><p>link</p></a></li>
					<li><a class="meeting"><img src="static/images/shop/meeting.png" alt="icon" style="width:100px;"><p>meeting</p></a></li>
					<li><a class="blog"><img src="static/images/shop/blog.png" alt="icon" style="width:100px;"><p>blog</p></a></li>
					<li><a class="job"><img src="static/images/shop/job.png" alt="icon" style="width:100px;"><p>job</p></a></li>
					<li><a class="travel"><img src="static/images/shop/travel.png" alt="icon" style="width:100px;"><p>travel</p></a></li>
				</ul>
			</div>
		</div>

	</body>
</html>
