<!DOCTYPE html>
<!-- the first version of the street page, was later replaced by unity game -->

<html>
<meta charset="utf-8" />

<head>
  <link rel="stylesheet" href="{{url_for( "static", filename="street.css" )}}">
</head>

<body>
  <!-- <img src="http://localhost:8000/streeticon.jpeg" height="800" style="width: 100%"> -->


  <img class="tree" id="tree" src="static/images/street/tree_1.png" />


  <img class="tree" id="tree_1" src="static/images/street/tree_1.png" />


  <img class="tree" id="tree_2" src="static/images/street/tree_1.png" />


  <img class="tree" id="tree_3" src="static/images/street/tree_1.png" />


  <img class="tree" id="tree_4" src="static/images/street/tree_1.png" />

  <img class="tree" id="tree_5" src="static/images/street/tree_1.png" />


  <div class="tooltip" id="Coffee_place">
    <a href="#">
      <img class="house" src="static/images/street/Coffee_place_try.png" />
    </a>
    <span class="tooltiptext">This is a Cafe!</span>
  </div>

  <div class="tooltip" id="Shop">
    <a href="#">
      <img class="house" src="static/images/street/Shop.ico" />
    </a>
    <span class="tooltiptext">This is a Shop!</span>
  </div>

  <div class="tooltip" id="HQ">
    <a href="#">
      <img class="house" src="static/images/street/Headquaters.jpeg" />
    </a>
    <span class="tooltiptext">This is the HQ!</span>
  </div>

  <div class="tooltip" id="Theater">
    <a href="#">
      <img class="house" src="static/images/street/Theater.jpg" />
    </a>
    <span class="tooltiptext">This is a theatre!</span>
  </div>

  <div class="tooltip" id="Bakery">
    <a href="#">
      <img class="house" src="static/images/street/Bakery.jpg" />
    </a>
    <span class="tooltiptext">This is a bakery!</span>
  </div>


  <div class="button-box">
    <a href="activestreet">
      <span class="button">START</span>
    </a>
  </div>



</body>



</html>
