<!DOCTYPE html>

	<head>
		  <link rel="stylesheet" href="{{url_for( "static", filename="theatre.css" )}}">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>

		<body>
			<h1>Theatre</h1>
			<!--<div id="video1">-->
				<div id = "videos">
				<iframe id="video1" width ="420" height ="315" src="https://www.youtube.com/embed/KM4Xe6Dlp0Y">
				</iframe>
				
				<!--
				<a href = "https://www.youtube.com/watch?v=KM4Xe6Dlp0Y">
				<img width ="420" height ="315"
				src="static/images/theatre/Cameron Russell.jpeg" align="right">
				</div>

				<div id="video2">
				-->		

			
				<iframe id="video2" width="420" height="315" src="https://www.youtube.com/embed/veEQQ-N9xWU">
				</iframe>
				
				<!--
				<a href = "https://www.youtube.com/watch?v=veEQQ-N9xWU">
				<img width ="420" height ="315"
				src="static/images/theatre/Caroline McHugh.jpeg" align= "left">
				-->
			</div>

			









		</body>
